<footer class="main-footer">
  <div class="footer-container">
    <h2 class="footer-title">Contact Me — Let’s Connect</h2>
    
    <div class="footer-links">
      <p>Google Mail: <a href="mailto:suphakrit.yod@gmail.com">suphakrit.yod@gmail.com</a></p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/suphakrit-yodpetch-b993473b0" target="_blank">suphakrit yodpetch</a></p>
      <p>GitHub: <a href="https://github.com/suphakrity-wq" target="_blank">BuR_05</a></p>
    </div>
    
    <div class="footer-bottom">
      <p>© 2026 Suphakrit.Yod All rights reserved.</p>
    </div>
  </div>
</footer>